html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.container div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #995aff;
    margin: 10px;
}